/* Container Setup */
.split-screen-container {
    display: flex;
    
    overflow: hidden;
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
}

/* LEFT PANEL (Matching LoginPage exactly) */
.left-panel {
    flex: 1;
    background-color: #4f86d4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    position: relative;
    margin-right:50px;
}

.logo-section {
    text-align: center;
    width: 100%;
}

.logo-img {
    height: 80px;
    position: absolute;
    top: 60px;
    left: 170px;
    margin-top: 20px;
}

.side-visual {
    margin-top: 100px;
    width: 500px;
    height: 500px;
}

/* RIGHT PANEL */

.right-panel {
    flex: 1;
   
      margin-right:50px;
     
    background-color: #ffffff;
    position: relative;
}

 

/* .header-text h2 {
    font-size: 4px;
    color: #4f86d4;
    margin-bottom: 10px;
}

.header-text p {
    font-size: 14px;
    color: #4f86d4;
    line-height: 1.5;
    margin-bottom: 35px;
} */

/* Form Elements */
.auth-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.input-with-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.field-icon {
    position: absolute;
    left: 14px;
    color: #94a3b8;
}

.login-input {
    width: 100%;
    padding: 14px 44px;
    border: 1px solid #e2e8f0;
     
    font-size: 15px;
    outline: none;
    transition: all 0.3s ease;
}

.login-input:focus {
    border-color: #4f86d4;
    background-color: #ffffff;
}

/* Button */
.login-btn {
    background-color: #4f86d4;
    color: white;
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

.login-btn:hover {
    background-color: #3b6fb8;
}

.footer-copyright {
    margin-top: 30px;
    font-size: 14px;
    color: #64748b;
}

/* Responsive */
@media (max-width: 850px) {
    .left-panel { display: none; }
}