/* Container Setup */
.forgot-container {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
}

/* Left Panel */
.forgot-left-panel {
    flex: 1;
    background-color: #2563EB;
    display: flex;
    justify-content: center; 
    padding-top: 60px;
}

.forgot-logo-section {
    text-align: center;
    width: 100%;
}

 
 

.forgot-side-img {
    max-width: 80%;
    height: auto;
    margin-top: 20px;
}

/* Right Panel */
.forgot-right-panel {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.forgot-form-card {
    width: 100%;
    max-width: 400px;
    padding: 0 20px;
}

.forgot-header-text h2 {
    font-size: 40px;
    font-weight: 800;
    color: #2064d3; 
    margin-bottom: px;
}

.forgot-header-text p {
    color: #2064d3;
    font-size: 10px;
    line-height: 1;
    margin-bottom: 40px;
}

/* Form Elements */
.forgot-main-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.forgot-input-wrapper {
    position: relative;
    width: 100%;
}

.forgot-field-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #94a3b8;
}

.forgot-input-field {
    width: 100%;
    padding: 16px 16px 16px 48px;
    background-color: #f8fafc;
    border: 1px solid #e2e8f0;
    border-radius: 12px;
    font-size: 16px;
    box-sizing: border-box;
    transition: all 0.2s;
}

.forgot-input-field:focus {
    outline: none;
    border-color: #2563EB;
    background-color: #ffffff;
}

/* Button */
.forgot-submit-btn {
    padding: 16px;
    background-color: #2563EB;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: background 0.2s;
    margin-top: 10px;
}

.forgot-submit-btn:hover {
    background-color: #1d4ed8;
}

.forgot-footer {
    margin-top: 60px;
    text-align: center;
    color: #94a3b8;
    font-size: 13px;
}

/* Responsive */
@media (max-width: 1024px) {
    .forgot-left-panel {
        display: none;
    }
}