 
.login-wrapper-main {
  min-height: 100vh;
  width: 100vw;
   
  
   
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Scrollbars khatam karne ke liye */
  font-family: 'Inter', sans-serif;
}

 
.login-container-card {
  display: flex;
  width: 100%;  
  height: 100vh;  
  background: white;
  border-radius: 0;  
  overflow: hidden;
  box-shadow: none;
}

 
.blue-panel {
  flex: 1.1;  
  background-color: #4f86d4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  position: relative; 
}
 

.brand-logo {
  height: 80px; 
  position: absolute; 
  top: 60px;          
  left: 170px;
  margin-top:20px;         
}

.main-illustration {
  margin-top:100px;
  width: 500px ;
  height: 500px;
}

/* Right Section: Form Side */
.form-panel {
 flex:1; 
  background-color: #ffffff;
  
   margin-left:100px;
   margin-top:150px;
  
   
  padding: 40px;
   
  
}

.auth-card {
  
    
  box-shadow: none; 
}

/* Typography */
.auth-header h1 {
  font-size: 50px;
  color: #4f86d4;
  margin-bottom: 10px;
  font-weight: 700;
}

.auth-header p {
  text-align:start ;
  font-size: 26px;
  color: #4f86d4;
  line-height: 1.2;
  margin-bottom: 30px;
}

/* Form Styling */
.login-form-main {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.input-field-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  left: 14px;
  color: #94a3b8;
}

.input-field-wrapper input {
  width: 900px;
  padding: 14px 44px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  background: #f8faff;
  font-size: 15px;
  outline: none;
  transition: all 0.3s ease;
}

.input-field-wrapper input:focus {
  border-color: #4f86d4;
  background: #ffffff;
}

.eye-btn {
  position: absolute;
  right: 14px;
  background: none;
  border: none;
  color: #94a3b8;
  cursor: pointer;
}

/* Links and Buttons */
.forgot-pass-box {
  text-align: right;
  margin-top: -8px;
}

.forgot-pass-box button {
  font-size: 12px;
  color: #4f86d4;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
}

.submit-btn-blue {
  background-color: #4f86d4;
  color: white;
  padding: 15px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

.submit-btn-blue:hover {
  background-color: #3b6fb8;
}

/* Footer & Sign up section */
.signup-prompt {
  margin-top: 30px;
  font-size: 14px;
  color: #64748b;
}

.signup-prompt span {
  color: #4f86d4;
  font-weight: 700;
  cursor: pointer;
  text-decoration: underline;
}

.login-footer {
  position: absolute;
  bottom: 30px; 
  font-size: 11px;
  color: #94a3b8;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

/* Responsive fix for mobile */
@media (max-width: 850px) {
  .blue-panel { display: none; }
  .login-container-card { background-color: white; }
  .auth-card { box-shadow: none; padding: 20px; }
}