/* Layout Settings */
.split-screen-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
}

/* LEFT PANEL (Matching LoginPage exactly) */
.left-panel {
    flex: 1.1;
    background-color: #4f86d4;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 40px;
    position: relative;
}

.logo-section {
    text-align: center;
    width: 100%;
}

.logo-img {
    height: 80px;
    position: absolute;
    top: 60px;
    left: 170px;
    margin-top: 20px;
}

.side-visual {
    margin-top: 100px;
    width: 500px;
    height: 500px;
}

/* RIGHT PANEL */
.right-panel {
    flex: 1;
     
     
    padding: 40px;
    background-color: #ffffff;
    position: relative;
}

.auth-form-content {
    background: transparent;
    width: 100%;
    max-width: 400px;
    box-shadow: none;
     
}

.header-text h2 {
    font-size: 50px;
    font-weight: 600;
    color: #4f86d4;
    margin-bottom: 8px;
}

.header-text p {
    color: #4f86d4;
    font-size: 16px;
    margin-bottom: 35px;
    line-height: 1.5;
}

/* OTP Boxes */
.otp-input-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 30px;
}

.otp-box {
    width: 50px;
    height: 60px;
    background-color: #f8fafc;
    border: 1px solid #e2e8f0;
    border-radius: 12px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #1e293b;
    transition: all 0.3s ease;
}

.otp-box:focus {
    outline: none;
    border-color: #4f86d4;
    background-color: #ffffff;
    box-shadow: none;
}

.login-btn {
    background-color: #4f86d4;
    color: white;
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
}

.footer-copyright {
    margin-top: 30px;
    font-size: 14px;
    color: #64748b;
}

@media (max-width: 1024px) {
    .left-panel { display: none; }
}